<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" data-ng-app="LoginApp">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>数字后勤后台管理系统 | 登录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="../dist/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../dist/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <!-- 第三方控件配套CSS -->
    <link href="../dist/css/admin/thirdPart.min.css" rel="stylesheet" type="text/css" />
    <link id="ng_load_plugins_before" />
    <!-- 全局布局以及核心CSS -->
    <link href="../dist/css/admin/layout.min.css" id="style_components" rel="stylesheet" type="text/css" />
    <!-- 引入压缩css文件结束 -->
    <link href="../assets/pages/css/login-4.min.css" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
<body class="login" ng-controller="loginController">
<!-- BEGIN LOGO -->
<div class="logo login-logo">
    <a>
        <img class="logo-img" src="images/login/login-icon.png" alt=""/></a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content login-content">
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form spacing">
        <h3 class="form-title login-color">数字后勤后台管理系统</h3>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">账号</label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input class="form-control placeholder-no-fix account" type="text" autocomplete="off" placeholder="账号"
                       name="username" ng-model="data.username"/></div>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">密码</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="密码"
                       name="password" ng-model="data.password"/></div>
        </div>
        <button style="margin-top:15px;" class="form-control login-btn" ng-click="login()"> 登 录</button>
    </form>
    <!-- END LOGIN FORM -->
</div>
<!-- END LOGIN -->
<!-- BEGIN COPYRIGHT -->
<div class="copyright"> 2018 &copy; 陕西联兴网络科技有限公司.</div>
<!-- END COPYRIGHT -->
<!--[if lt IE 9]>
<script src="../dist/js/admin/IE9Respond.min.js"></script>
<![endif]-->
<script src="../dist/js/admin/thirdPart.min.js" type="text/javascript"></script>
<script src="js/config.js" type="text/javascript"></script>
<script src="../dist/js/admin/core.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
<!--login-->
<script src="../dist/js/admin/controller/loginController.min.js" type="text/javascript"></script>
<!--login-->
</body>
</html>