<div class="portlet light bordered" ng-controller="lostFoundAddController">
    <div class="portlet-title">
        <div class="caption bold font-green-sharp">
            <i class="fa fa-gift  font-green-sharp"></i>新增失物招领
        </div>
        <div class="actions">
			<a ng-if="data.type" ui-sref="myLostList" class="hide btn btn-circle green-haze btn-sm">
                <i class="fa fa-reply"></i> 返回
            </a>
            <a ng-if="!data.type" ui-sref="myFoundList" class="hide btn btn-circle green-haze btn-sm">
                <i class="fa fa-reply"></i> 返回
            </a>
            <a class="btn btn-circle green-haze btn-sm" ng-click="toBack()">
                <i class="fa fa-reply"></i> 返回
            </a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form w5c-form-validate="validateOptions" class="w5c-form form-horizontal form-bordered" novalidate name="myForm">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-xs-3 control-label">
                       	<span class="fa fa-bell-o"></span>
                       	类别
                    </label>
                    <div class="col-xs-9 form-md-radios">
                        <div class="md-radio-inline">
                            <div class="md-radio" ng-repeat="item in lostFoundStatusData">
                                <input type="radio"  id="editCheckbox{{item.value}}" ng-model="data.type"
                                       class="md-radiobtn" ng-value="{{item.value}}">
                                <label for="editCheckbox{{item.value}}">
                                    <span></span>
                                    <span class="check"></span>
                                    <span class="box"></span> {{item.name}} </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">
                        <span class="fa fa-bell-o"></span>
                       	标题
                    </label>
                    <div class="col-xs-9">
                        <input type="text" class="form-control" name="name2" ng-blur="checkValidateWithSensitive($event,'data.title')"
                               ng-minlength="length.langNameMin" ng-maxlength="length.modelMax" placeholder="请输入标题"
                               ng-model="data.title" required ng-pattern="regex.name">
                        <span class="validateErrorInfo"> </span>
                        <!--<span class="help-block"> 最大输入长度为25</span>-->
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">
                    	<span class="fa fa-bell-o"></span>
                       	内容
                    </label>
                    <div class="col-xs-9">
                        <textarea id="maxlength_textarea" class="form-control" name="name3"
                                  rows="8" ng-model="data.description" 
                                  maxlength="200" ng-blur="checkValidateWithSensitive($event,'data.description')"
                                  placeholder="最大输入200个字符" required>
                        </textarea>
                        <span class="validateErrorInfo"> </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-3">
                       	图片
                    </label>
                    <div class="col-xs-9">
                        <div id="uploadImg"></div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-xs-offset-3 col-xs-9">
                        <button type="submit" class="btn green" ng-disabled="myForm.$invalid" ng-click="save()">
                            <i class="fa fa-check"></i> 保存</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
    <!-- END PORTLET-->
</div>