<!--Banner图-->
<img class="top_img" src="images/lostFound/banner.jpg"/>
<div class="portlet box blue" ng-controller="lostFoundController">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa {{searchObj.type==1?'fa-search':'fa fa-volume-up'}}"></i>{{searchObj.type==1?'失物':'招领'}}信息
        </div>
        <div class="hide actions" ng-if="loginStatus">
            <a ng-if="searchObj.type" class="btn public-button" ui-sref="lostAdd">
                <i class="fa fa-plus"></i> 我要发布
            </a>
            <a ng-if="!searchObj.type" class="btn public-button" ui-sref="foundAdd">
                <i class="fa fa-plus"></i> 我要发布
            </a>
        </div>
        <div class="actions mgright" ng-if="loginStatus">
            <a ng-if="searchObj.type" class="btn public-button" ui-sref="myLostList">
                <i class="fa fa-search"></i> 我的失物记录
            </a>
            <a ng-if="!searchObj.type" class="btn public-button" ui-sref="myFoundList">
                <i class="fa fa-volume-up"></i> 我的招领记录
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <!--查询-->
        <div class="table-toolbar" style="margin-bottom: 13px;">
            <div class="table-toolbar">
                <div class="tabbable tabbable-custom tabbable-noborder tabbable-reversed">
                    <form class="form-horizontal">
                        <div class="tab-pane" id="tab">
                            <!-- 查询条件-->
                            <div class="portlet light bordered">
                                <div class="portlet-body">
                                    <div class="form-group text-center">
                                        <label class="control-label col-xs-1">标题</label>
                                        <div class="col-xs-5">
                                            <input type="text" class="form-control" placeholder=""
                                                   ng-model="searchObj.title">
                                        </div>
                                        <label class="control-label col-xs-1">发布时间</label>
                                        <div class="col-xs-5">
                                            <div class="col-xs-5 searchTime page-content">
                                                <div id="addDateTimeStart" class="input-group date form_datetime">
                                                    <input  type="text" size="16" readonly name="date" class="form-control" ng-model="searchObj.addDateTimeStart" required>
                                                    <span class="input-group-btn include">
                                                        <button class="btn default date-reset" type="button">
                                                            <i class="fa fa-times"></i>
                                                        </button>
                                                        <button class="btn default my-date-set" type="button">
                                                            <i class="fa fa-calendar date-set"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                            <label class="col-xs-2 searchTimeLabel">至</label>
                                            <div class="col-xs-5 searchTime page-content">
                                                <div id="addDateTimeEnd" class="input-group date form_datetime">
                                                    <input  type="text" size="16" readonly name="date" class="form-control" ng-model="searchObj.addDateTimeEnd" required>
                                                    <span class="input-group-btn include">
                                                        <button class="btn default date-reset" type="button">
                                                            <i class="fa fa-times"></i>
                                                        </button>
                                                        <button class="btn default my-date-set" type="button">
                                                            <i class="fa fa-calendar date-set"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="button-group text-center">
                                <div class="col-xs-12">
                                    <button class="btn btn-sm btn-success btn_search" ng-click="search()">
                                        <i class="fa fa-search"></i> 查询
                                    </button>
                                    <button class="btn btn-sm grey-cascade" ng-click="reset()">
                                        <i class="fa fa-times"></i> 重置
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover table-checkable order-column dt-responsive" id="lostFoundDataTable">
            <thead>
            <tr>
                <th class="none"> 序号 </th>
                <th class="title_width"> 标题 </th>
                <th class="col-xs-1"> 发布人</th>
                <th class=""> 手机号</th>
                <th class="datetime_width"> 发布时间 </th>
                <th class="col-xs-1"> 交易完成 </th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>