<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>维修量分时统计 - 周期
        </div>
        <!-- ngIf: loginStatus -->
    </div>
    <div class="portlet-body" ng-controller="weekStatisticsController">
        <div class="table-responsive" style="overflow-x: hidden">
        <date-range-and-labelauty></date-range-and-labelauty>
        </div>
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>时间段/星期</th>
                <th ng-repeat="_category in data[0].categories">{{_category}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>维修量/单</td>
                <td ng-repeat="_data in data[0].data track by $index">{{_data}}</td>
            </tr>
            </tbody>
        </table>
        <div class="table-responsive" style="overflow-x: hidden">
        <div id="weekLine" class="myChart"></div>
        </div>
    </div>
</div>