<div class="mt-element-card mt-card-round mt-element-overlay">
    <div class="col-lg-3 col-xs-4 col-sm-6 col-xs-12 home-convenience-wrap">
        <div class="mt-card-item home-convenience">
            <div class="mt-card-avatar mt-overlay-1 mt-scroll-down">
                <img src="images/service/bus-query.jpg">
                <div class="mt-overlay mt-top">
                    <ul class="mt-info">
                        <li class="hide">
                            <a class="btn default btn-outline" href="javascript:;">
                                <i class="icon-magnifier"></i>
                            </a>
                        </li>
                        <li>
                            <a class="btn default btn-outline" href="http://www.8684.cn/" target="_blank">
                                <i class="icon-link"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mt-card-content">
                <h3 class="mt-card-name">公交查询</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-4 col-sm-6 col-xs-12 home-convenience-wrap">
        <div class="mt-card-item home-convenience">
            <div class="mt-card-avatar mt-overlay-1 mt-scroll-down">
                <img src="images/service/train-query.jpg">
                <div class="mt-overlay mt-top">
                    <ul class="mt-info">
                        <li class="hide">
                            <a class="btn default btn-outline" href="javascript:;">
                                <i class="icon-magnifier"></i>
                            </a>
                        </li>
                        <li>
                            <a class="btn default btn-outline" href="http://www.12306.cn/" target="_blank">
                                <i class="icon-link"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mt-card-content">
                <h3 class="mt-card-name">列车查询</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-4 col-sm-6 col-xs-12 home-convenience-wrap">
        <div class="mt-card-item home-convenience">
            <div class="mt-card-avatar mt-overlay-1 mt-scroll-down">
                <img src="images/service/ticket-inquiry.jpg">
                <div class="mt-overlay mt-top">
                    <ul class="mt-info">
                        <li class="hide">
                            <a class="btn default btn-outline" href="javascript:;">
                                <i class="icon-magnifier"></i>
                            </a>
                        </li>
                        <li>
                            <a class="btn default btn-outline" href="http://kas.ceair.com/v4/Index" target="_blank">
                                <i class="icon-link"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mt-card-content">
                <h3 class="mt-card-name">机票查询</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-4 col-sm-6 col-xs-12 home-convenience-wrap">
        <div class="mt-card-item home-convenience">
            <div class="mt-card-avatar mt-overlay-1 mt-scroll-down">
                <img src="images/service/weather-forecast .jpg">
                <div class="mt-overlay mt-top">
                    <ul class="mt-info">
                        <li class="hide">
                            <a class="btn default btn-outline" href="javascript:;">
                                <i class="icon-magnifier"></i>
                            </a>
                        </li>
                        <li>
                            <a class="btn default btn-outline" href="http://www.weather.com.cn/" target="_blank">
                                <i class="icon-link"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mt-card-content">
                <h3 class="mt-card-name">天气预报</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-4 col-sm-6 col-xs-12 home-convenience-wrap">
        <div class="mt-card-item home-convenience">
            <div class="mt-card-avatar mt-overlay-1 mt-scroll-down">
                <img src="images/service/perpetual-calendar.jpg">
                <div class="mt-overlay mt-top">
                    <ul class="mt-info">
                        <li class="hide">
                            <a class="btn default btn-outline" href="javascript:;">
                                <i class="icon-magnifier"></i>
                            </a>
                        </li>
                        <li>
                            <a class="btn default btn-outline" href="http://qq.ip138.com/day/" target="_blank">
                                <i class="icon-link"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mt-card-content">
                <h3 class="mt-card-name">万年历</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-4 col-sm-6 col-xs-12 home-convenience-wrap">
        <div class="mt-card-item home-convenience">
            <div class="mt-card-avatar mt-overlay-1 mt-scroll-down">
                <img src="images/service/recruitment-information.jpg">
                <div class="mt-overlay mt-top">
                    <ul class="mt-info">
                        <li class="hide">
                            <a class="btn default btn-outline" href="javascript:;">
                                <i class="icon-magnifier"></i>
                            </a>
                        </li>
                        <li>
                            <a class="btn default btn-outline" href="http://www.51job.com/" target="_blank">
                                <i class="icon-link"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mt-card-content">
                <h3 class="mt-card-name">招聘信息</h3>
            </div>
        </div>
    </div>
</div>