<div ng-controller="dutyRegisterSixStepController">
    <div class="table-toolbar">
        <div class="table-toolbar">
            <div class="tabbable tabbable-custom tabbable-noborder tabbable-reversed">
                <div class="col-md-12 table-responsive" style="text-align: center;padding: 20px;">
                    <!--<div class="jumbotron">-->
                        <div class="container">
                            <!--<h4>已完成保存任务:  &nbsp; <span class="label label-danger hide"> {{dutyYear}} </span> &nbsp;年 <span class="label label-danger hide"> {{dutyMonth}} </span> &nbsp;月值班表 <span class="label label-success"> {{dutyDepartmentName}} </span> &nbsp; <span class="label label-success"> {{dutyTypeName}}-->
                                <!--</span></h4>-->
                            <h4 style="color: #26C281;">提示：已完成保存任务</h4>
                        </div>
                    <!--</div>-->
                </div>
                <div class="col-md-12 text-center">
                	<span style="line-height: 25px;color: #000;font-size: 18px;" class="label center-block"> 部门: {{dutyDepartmentName}} &nbsp; 工种: {{dutyTypeName}}</span>
                </div>
                <!-- 需要加上背景色，不然生成的canvas 背景为透明色 -->
                <div style="float: right;margin-bottom: 15px;">
                    <button class="btn btn-lg btn-info" ng-click="saveDutyImg()"><i class="fa fa-save"></i> 保存图片 </button>
                    <button class="btn btn-lg btn-danger" ng-click="printDutyTable()" style="margin-left: 20px;"><i class="fa fa-print"></i> 打印 </button>
                </div>
                <div class="table-responsive" style="border: 1px solid #000000;margin: 0 0 20px 0;padding: 0px;">
                <div id="dutyTable" class="col-md-12 col-sm-12" 
                style="background-color: white;margin: 10px 0 0 0 !important;padding: 0px;">
                    <!--<h1><span class="label label-success center-block">部门: {{dutyDepartmentName}} <br>工种: {{dutyTypeName}}-->
                         <!--<br>{{dutyYear}} 年 {{dutyMonth}} 月 值班表</span></h1>-->
                    <span style="line-height: 25px;color: #000;font-size: 18px;" class="label center-block"> {{dutyYear}} 年 {{dutyMonth}} 月 值班表</span>
                    <table class="table table-bordered table-hover"  style="margin: 0px;padding: 0px;">
                        <thead>
                        <tr>
                            <th style="padding: 4px">值班日期</th>
                            <th style="padding: 4px">白班人员及电话</th>
                            <th style="padding: 4px">夜班人员及电话</th>
                            <th style="padding: 4px">备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="event in tableListDataNew">
                            <td style="padding: 4px">{{event.time.substr(8,7)}}</td>
                            <td style="padding: 4px">{{event.dayPerson.join(' , ')}}</td>
                            <td style="padding: 4px">{{event.nightPerson.join(' , ')}}</td>
                            <td style="padding: 4px">{{event.holidayName}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div></div>
                <!-- 存放生成的值班截图 -->
                <div id="canvasImg" hidden></div>
            </div>
        </div>
    </div>
</div>
