<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js" data-ng-app="MetronicApp"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" data-ng-app="MetronicApp"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" data-ng-app="MetronicApp">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <title data-ng-bind="'数字后勤服务大厅 | ' + $state.current.data.pageTitle"></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- 字体与图标文件 -->
    <link href="../dist/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="../dist/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <!-- 第三方控件配套CSS -->
    <link href="../dist/css/web/thirdPart.min.css" rel="stylesheet" type="text/css" />
    <link id="ng_load_plugins_before" />
    <!-- 全局布局以及核心CSS -->
    <link href="../assets/global/css/components-rounded.min.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="../assets/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/pages/css/about.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/pages/css/pricing.min.css" rel="stylesheet" type="text/css" />
    <link href="./css/tooltip-classic.css" rel="stylesheet" type="text/css" />
    <link href="./css/common.css" rel="stylesheet" type="text/css" />
    <link href="./css/tableResponsive.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<body ng-controller="AppController" class="bodyOverflow page-header-fixed page-sidebar-closed-hide-logo page-on-load" ng-class="{'page-content-white': settings.layout.pageContentWhite,'page-container-bg-solid': settings.layout.pageBodySolid, 'page-sidebar-closed': settings.layout.pageSidebarClosed}">
<!-- BEGIN PAGE SPINNER -->
<div ng-spinner-bar class="page-spinner-bar">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
</div>
<!-- END PAGE SPINNER -->
<div class="page-wrapper">
    <div class="page-wrapper-row">
        <div class="page-wrapper-top">
            <!-- BEGIN HEADER -->
            <div data-ng-include="'tpl/header.html'" ng-controller="headerController" class="page-header navbar navbar-fixed-top"> </div>
            <!-- END HEADER -->
            <!--
            <div ng-if="ifDashboard" style="margin-top: 140px" data-ng-include="'tpl/carousel.html'"></div>
        	<div ng-if="!ifDashboard" style="margin-top: 136px"></div>
        	-->
        </div>
    </div>
    <div class="page-wrapper-row full-height">
        <div class="page-wrapper-middle">
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN PAGE HEAD -->
                <div data-ng-include="'tpl/page-head.html'" data-ng-controller="PageHeadController" class="page-head"> </div>
                <!-- END PAGE HEAD -->
                <!-- BEGIN PAGE CONTENT -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN ACTUAL CONTENT -->
                        <div ui-view class="fade-in-up" style="margin-top: 26px"> </div>
                        <!-- END ACTUAL CONTENT -->
                    </div>
                </div>
                <!-- END PAGE CONTENT -->
                <!-- BEGIN QUICK SIDEBAR -->
                <!--<a href="javascript:;" class="page-quick-sidebar-toggler">-->
                    <!--<i class="icon-login"></i>-->
                <!--</a>-->
                <!--<div data-ng-include="'tpl/quick-sidebar.html'" data-ng-controller="QuickSidebarController" class="page-quick-sidebar-wrapper"></div>-->
                <!-- END QUICK SIDEBAR -->
            </div>
            <!-- END CONTAINER -->
        </div>
    </div>
    <div class="page-wrapper-row">
        <div class="page-wrapper-bottom">
            <!-- BEGIN FOOTER -->
            <div data-ng-include="'tpl/footer.html'" data-ng-controller="FooterController"> </div>
            <div data-ng-include="'tpl/footer2.html'" data-ng-controller="Footer2Controller"> </div>
            <!-- END FOOTER -->
        </div>
    </div>
</div>
<!-- BEGIN QUICK NAV  hidden="hidden"-->
<nav id="quick-nav" class="quick-nav">
    <a class="quick-nav-trigger" href="#" ng-click="toService()">
        <span aria-hidden="true"></span>
    </a>
    <p class="window-service">服务之窗</p>
    <ul style="padding-bottom: 20px;" ng-if="loginStatus">
        <li>
            <a ui-sref="repairRecordsAdd" class="active">
                <span>我要报修</span>
                <i class="fa fa-wrench"></i>
            </a>
        </li>
        <li>
            <a ui-sref="fleaMarketAddSale"><!-- target="_blank"-->
                <span>出售求购</span>
                <i class="fa fa-balance-scale"></i>
            </a>
        </li>
        <li>
            <a ui-sref="lostAdd">
                <span>失物招领</span>
                <i class="fa fa-volume-up"></i>
            </a>
        </li>
        <li>
            <a  ui-sref="suggestionAdd">
                <span>建言献策</span>
                <i class="fa fa-envelope-o"></i>
            </a>
        </li>
        <li ng-if="isWorker">
            <a ui-sref="workLogAdd">
                <span>工作日志</span>
                <i class="fa fa-file-text-o"></i>
            </a>
        </li>
    </ul>
    <span aria-hidden="true" class="quick-nav-bg"></span>
</nav>
<div class="quick-nav-overlay"></div>
<!-- END QUICK NAV -->

<!-- 引入压缩js文件开始 -->
<!--[if lt IE 9]>
<script src="../dist/js/admin/IE9Respond.min.js"></script>
<![endif]-->
<!-- 第三方控件JS -->
<script src="../dist/js/web/thirdPart.min.js" type="text/javascript"></script>
<!-- 核心JS -->
<script src="js/config.js" type="text/javascript"></script>
<script src="../dist/js/web/core.min.js" type="text/javascript"></script>
<!-- 引入压缩js文件结束 -->

<!-- 在线监控bugJS -->
<!--<script src="https://og6593g2z.qnssl.com/fundebug.0.2.0.min.js" apikey="7098013c05e4f8a9b9ab8d138b27e082e47bc7ab415b500a881b9d1dd9b54093"></script>-->

</body>
<!-- END BODY -->
</html>
