<div id="addModal" class="modal fade" tabindex="-1" data-backdrop="static" aria-hidden="true" data-width="800" ng-controller="maintenanceTypeAddController">
    <div class="modal-header">
        <button type="button" class="modal_close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4 class="modal-title"><p ng-bind="modalTitle"></p></h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <!-- BEGIN FORM-->
            <form w5c-form-validate="validateOptions" class="w5c-form" novalidate name="myForm">
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-4 control-label">
							工种名称
                            <span class="fa fa-bell-o"></span>
                        </label>
                        <span class="col-md-8">
                            <span class="validateErrorInfo"> </span>
                        </span>
                        <div class="col-md-12">
                            <input type="text" name="name" class="form-control" ng-pattern="regex.name" ng-change="checkRepeat();" ng-blur="checkValidateWithSensitive($event, 'data.name')"
                                   ng-minlength="length.simpleNameMin" ng-maxlength="length.simpleNameMax" placeholder="" ng-model="data.name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" style="padding-top: 8px !important;">
							工种状态
                        </label>
                        <div class="col-md-8 form-md-radios">
                            <div class="md-radio-inline">
                                <div class="md-radio" ng-repeat="item in statusUseTypeData">
                                    <input type="radio" id="editCheckbox{{item.value}}" 
                                           ng-model="data.status" ng-value="{{item.value}}"
                                           class="md-radiobtn">
                                    <label for="editCheckbox{{item.value}}">
                                    	<span></span>
                                        <span class="check"></span>
                                        <span class="box"></span> {{item.name}} </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
						<label class="col-md-4 control-label">工种描述</label>
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-12">
                            <textarea class="form-control" name="description" rows="3" ng-model="data.description"
                                      id="maxlength_textarea" maxlength="200" placeholder="最大输入200个字符"></textarea>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-outline dark"><i class="fa fa-reply"></i> 关闭</button>
        <!-- 验证成功后取消禁用 -->
        <button type="button" ng-disabled="myForm.$invalid || ifRepeat" ng-click="save()" class="btn green-haze"><i class="fa fa-check"></i>
            保存
        </button>
    </div>
</div>