<div class="portlet light bordered" ng-controller="dutyShowListController" style="min-height: 900px;">
    <div class="portlet-title">
        <div class="caption font-dark">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject bold uppercase"> 已设置值班查询 - {{departmentName}} </span>
        </div>
        <div class="actions">
            <div class="btn-group" data-toggle="buttons">
                <a class="btn green-haze btn-sm" ui-sref="duty">
                    <i class="fa fa-reply"></i> 返回
                </a>
            </div>
        </div>
    </div>
    <div class="table-toolbar portlet-body">
        <div class="portlet" ng-controller="dutyDetailController" style="padding: 15px">
            <a class="row list-group-item active">
                <h4 class="col-md-2 list-group-item-heading">已设置月份</h4>
                <h4 class="col-md-10 list-group-item-heading">已设置工种</h4>
            </a>
            <a ng-if="!noData" class="row list-group-item" ng-repeat="item in dutyInfo | orderBy:'-date' track by $index">
                <h4 class="col-md-2 list-group-item-heading">{{item.date}}</h4>
                <h4 class="col-md-10 list-group-item-text">{{item.value}}</h4>
            </a>
            <a ng-if="noData" class="row list-group-item list-group-item-danger">
                <h4 class="col-md-12 list-group-item-text">该部门下未配置值班信息</h4>
            </a>
        </div>
        <div class="portlet light bordered">
            <div class="table-responsive text-center" style="margin-bottom: 0;border: none;">
                <div class="col-md-5">
                    <div class="form-group" style="padding-bottom: 34px;">
                        <label class="control-label col-md-4">值班工种</label>
                        <div class="col-md-8">
                            <select name="selectSearch" id="selectOne" ui-select2="select2Options" class="form-control"
                                    ng-model="typeSelectData"
                                    ng-options="item.id as item.name for item in maintenanceTypeSelectData"
                                    ng-change="checkedChange()">
                                <option value="">-- 请选择 --</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group" style="padding-bottom: 34px;">
                        <label class="control-label col-md-4">值班月份</label>
                        <div class="col-md-8">
                            <div id="dutyYearMonth" class="input-group date form_datetime">
                                <input type="text" size="16" readonly name="date" ng-change="checkedChange()"
                                       class="form-control" ng-model="dutyYearMonth" required>
                                <span class="input-group-btn">
                                    <button class="btn default date-set" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="checkedTypeAndDate">
            <div class="col-md-12" style="margin-bottom: 10px;">
            	<div ng-if="tableListDataNew.length!=0" style="float: right;font-size: 14px;">
                    <button class="btn btn-lg btn-info" ng-click="saveDutyImg()" style="padding: 6px 8px;"><i
                            class="fa fa-save"></i> 保存图片
                    </button>
                    <button class="btn btn-lg btn-danger" ng-click="printDutyTable()"
                            style="margin-left: 20px;padding: 6px 8px;"><i class="fa fa-print"></i> 打印
                    </button>
                </div>
            </div>
            <!-- 需要加上背景色，不然生成的canvas 背景为透明色 -->
            <div class="table-responsive" ng-if="tableListDataNew.length!=0" style="border: 1px solid #000000;margin: 0 0 20px 0;padding: 0px;">
                <div id="dutyTable" class="col-md-12 col-sm-12"
                     style="background-color: white;margin: 10px 0 0 0 !important;padding: 0px;">
                    <span style="line-height: 25px;color: #000;font-size: 18px;" class="label center-block"> {{dutyYear}} 年 {{dutyMonth}} 月 值班表</span>
                    <span style="line-height: 25px;color: #000;font-size: 18px;" class="hide label center-block">部门: {{departmentName}} &nbsp; 工种: {{typeName}}</span>
                    <table class="table table-bordered table-hover" style="margin: 0px;padding: 0px;">
                        <thead>
                        <tr>
                            <th style="padding: 4px">值班日期</th>
                            <th style="padding: 4px">白班人员及电话</th>
                            <th style="padding: 4px">夜班人员及电话</th>
                            <th style="padding: 4px">备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="event in tableListDataNew">
                            <td style="padding: 4px">{{event.time.substr(8,7)}}</td>
                            <td style="padding: 4px">{{event.dayPerson.join(' , ')}}</td>
                            <td style="padding: 4px">{{event.nightPerson.join(' , ')}}</td>
                            <!-- 上班日期不显示 , 普通周末显示'普通周末' , 节假日显示 节假日第一天显示名称 其余天显示 '节假日'-->
                            <td style="padding: 4px">{{event.holidayName}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="table-responsive" ng-if="tableListDataNew.length==0">
            <div class="alert alert-danger" style="margin-bottom: 0px;"><strong>提示!</strong>未设置值班表!</div>
            </div>
            <!-- 存放生成的值班截图 -->
            <div id="canvasImg" hidden></div>
        </div>
    </div>
</div>
