<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="dutyController">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase"> 后勤部门列表 </span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="table-toolbar">
                        <div class="tabbable tabbable-custom tabbable-noborder tabbable-reversed">
                            <form class="form-horizontal">
                            </form>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column dt-responsive"
                       id="dutyDataTable">
                    <thead>
                    <tr>
                        <th class="index_width"> 序号</th>
                        <th class="col-md-2"> 部门名称</th>
                        <th class="col-md-2"> 所属校区</th>
                        <th class="col-md-2"> 上级部门</th>
                        <th class="none"> 部门描述</th>
                        <th class="none"> 工种列表</th>
                        <th class="none"> 已设置日期</th>
                        <th class="col-md-2"> 添加时间</th>
                        <th class="opt_width_3"> 操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END MAIN CONTENT -->