<div id="addModal" class="modal fade" tabindex="-1" data-backdrop="static" aria-hidden="true" data-width="800" ng-controller="dutyAddController">
	<div class="modal-header">
		<button type="button" class="modal_close" data-dismiss="modal" aria-hidden="true">x</button>
		<h4 class="modal-title"><p ng-bind="modalTitle"></p></h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<!-- BEGIN FORM-->
			<form w5c-form-validate="validateOptions" class="w5c-form" novalidate name="myForm">
				<div class="form-body">
					<div class="form-group col-xs-12">
						<label class="col-xs-4 control-label">
							维修区域
							<span class="fa fa-bell-o"></span>
						</label>
						<span class="col-xs-8">
							<span class="validateErrorInfo"></span>
						</span>
						<div class="col-xs-12">
							<select name="select" ui-select2="select2Options"
									class="form-control" ng-model="data.maintenanceArea.id" required
									ng-options="item.id as item.name for item in maintenanceAreaData">
								<option value="">-- 请选择 --</option>
							</select>
						</div>
					</div>
					<div class="form-group col-xs-12">
						<label class="col-xs-4 control-label">
							值班日期
							<span class="fa fa-bell-o"></span>
						</label>
						<span class="col-xs-8">
                            <span class="validateErrorInfo"> </span>
                        </span>
						<!-- 去掉了外层div 需要保持span与仅一层div相邻，w5c验证的提示位置就在span .validateErrorInfo之后 -->
						<div style="padding: 0px 15px; " class="col-xs-12 input-group date form_datetime">
							<input type="text" size="16" readonly name="date" class="form-control" ng-model="data.date" required>
							<span class="input-group-btn">
                                <button class="btn default date-set" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
						</div>
					</div>
					<div class="form-group col-xs-12">
						<label class="col-xs-12 control-label">维修项目
							<span class="fa fa-bell-o"></span>
						</label>
						<div ng-repeat="item in maintenanceItemsData">
							<div class="form-group">
								<label class="col-xs-12 control-label">
									{{item.name}}
								</label>
								<label class="col-xs-4 control-label" style="padding-top: 8px !important;">
									值班方式
								</label>
								<div class="col-xs-8 form-md-radios">
									<div class="md-radio-inline">
										<div class="md-radio" ng-repeat="childItem in dutyTimeData">
											<input type="radio" id="editCheckbox{{item.id+childItem.value}}"
												   ng-model="$parent.data.status[item.id]" ng-value="{{childItem.value}}"
												   class="md-radiobtn">
											<label for="editCheckbox{{item.id+childItem.value}}">
												<span></span>
												<span class="check"></span>
												<span class="box"></span> {{childItem.name}} </label>
										</div>
									</div>
								</div>
								<label ng-class="(!myForm.multipleSelect{{item.id}}.$valid)==true?'errorLabel col-xs-4 control-label':'col-xs-4 control-label'" style="padding-top: 8px !important;">
									值班人员
								</label>
								<span class="col-xs-8">
									<span class="validateErrorInfo">
										<span class="w5c-error" ng-show="!myForm.multipleSelect{{item.id}}.$valid">
											请选择值班人员
										</span>
									</span>
								</span>
								<div class="col-xs-12">
									<!---  ng-repeat会产生一个子scope需要$parent定位到需要的scope，通过数组的形式取出复杂的关联关系  --->
									<!---  生成的model结构:["1":[1,2,3],"2":[1],"3":[2,3]],整体是一个数组，内对象key即为工种id, value为维修人员id --->
									<select ui-select2="multipleSelect2" ng-change="multipleSelectChange('multipleSelect{{item.id}}')"
											id="multipleSelect{{item.id}}" ng-model="$parent.data.maintenanceItems[item.id]"
											name="multipleSelect{{item.id}}" multiple="multiple"  data-placeholder="-- 请选择 --"
											ng-options="item.id as item.name for item in workerSelectData" required>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
			<!-- END FORM-->
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn btn-outline dark"><i class="fa fa-reply"></i> 关闭</button>
		<!-- 验证成功后取消禁用 -->
		<button type="button" ng-disabled="myForm.$invalid" ng-click="save()" class="btn green-haze"><i class="fa fa-check"></i>
			保存
		</button>
	</div>
</div>