<!-- BEGIN MAIN CONTENT -->
<div class="portlet box blue" ng-controller="dutyController">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings"></i>
            <span class="caption-subject  uppercase">后勤部门列表</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="table-toolbar">
                <div class="tabbable tabbable-custom tabbable-noborder tabbable-reversed">
                    <form class="form-horizontal">
                    </form>
                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover table-checkable order-column dt-responsive"
               id="dutyDataTable">
            <thead>
            <tr>
                <th class="none"> 序号</th>
                <th class="col-xs-2"> 部门名称</th>
                <th class="col-xs-2"> 所属校区</th>
                <th class="col-xs-2"> 上级部门</th>
                <th class="none"> 部门描述</th>
                <th class="none"> 工种列表</th>
                <th class="none"> 已设置日期</th>
                <th class=""> 添加时间</th>
                <th class="opt_width_1"> 操作</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<!-- END MAIN CONTENT -->